data/input/nz-all-sport-club-weights.csv
data/output/bspm_parameter_priors_parallel.rds
data/output/bspm_parameter_priors_parallel.csv
data/output/bspm_parameter_priors_filtered.rds
data/output/bspm_parameter_priors_filtered.csv
