data/input/nz-all-sport-club-weights.csv
data/output/bspm_parameter_priors_parallel.rds
data/output/bspm_parameter_priors_parallel.csv
data/output/bspm_parameter_priors_filtered.rds
data/output/bspm_parameter_priors_filtered.csv
data/output/depletion_results*
data/output/model_runs/*
data/output/mean_wt_residuals_filtered.csv
data/output/mean_wt_residuals_filtered.rds
data/output/sim_dt.csv
data/output/pushforward/q/sim_dt.csv
shiny/*
